#topImage {
  /* display: inline; */

  width: 100%;
  height: 100%;
}
.checkbox1 {
  height: 1rem;
  width: 1rem;
}
.header1 {
  border-radius: 1rem;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;

  border-color: white;
  position: relative;
}
.header2 {
  border-radius: 1rem;
  position: relative;
}
.themeChanger {
  font-size: 1.5rem;
  transform: translate(-25%, -105%);

  float: right;
}

.lightDark {
  background-color: black;
}
.note {
  border-radius: 1rem;
  border-width: 15%;
  border-style: dashed;
  height: 111%;
  width: 36%;
  border-color: black;
  background-color: white;
  display: inline-block;
  position: absolute;
  z-index: 1;

  top: 96%;
  margin-left: 30%;
}
.noteHeader {
  border-radius: 1rem;
  border-width: 2px;
  border-style: ridge;
  height: 21%;
  width: 57%;
  border-color: black;
  margin-left: 20%;
  margin-top: 10px;
  padding-top: 3%;
  padding-left: 5%;
}
.notePaperImg {
  z-index: -1;
  position: relative;
}
.noteItem {
  display: inline;
  position: relative;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 15%;
  top: 17%;
}
/* .deleteButton {
  position: absolute;
}
.markButton {
  position: absolute;
} */
.noteContext {
  line-height: 2rem;
  border-radius: 0rem;
  border-width: 2px;
  border-style: ridge;
  height: 66%;
  width: 81%;
  border-color: black;
  margin-left: 10%;
  margin-top: 1%;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
  background-image: url(images/vector-grunge-style-note-paper-background.jpg);
}
/* no need */

::-webkit-scrollbar {
  width: 10px;
}
/* no need */

::-webkit-scrollbar-thumb {
  background-color: #888;
}
/* no need */

/* no need */

.buttonMargin {
  margin-left: 10%;

  transform: translateY(141%);
}
.deleteButton {
  transform: translateY(141%);
}
/* no need */

.completedNotes {
  display: inline;
}
/* no need */

.notDone {
  margin-left: 50%;
  display: inline;
}
/* no need */
.colorTop {
  background-color: grey;
}
